.footer {
    border-radius: 50px 50px 0px 0px;
    background: rgb(117, 117, 117);
    padding: 50px 0;
    margin-top: auto;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        &-img {
            display: flex;
            flex-shrink: 0;
            width: 60px;
            height: 60px;
        }
        &-text {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            gap: 3px;
            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                text-align: left;
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
        &-link {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            text-align: left;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        text-align: left;
        color: #fff;
        opacity: 0;
        &_mobile {
            display: none;
        }
    }
}
@media (max-width: 1022px) {
    .footer {
        &__phone {
            display: none;
        }
    }
}
@media (max-width: 798px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
        &__list {
            flex-direction: column;
            gap: 20px;
        }
    }
}