.header {
    padding: 30px 0 27px 0;
    background: #fff;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        &-img {
            display: flex;
            flex-shrink: 0;
            width: 60px;
            height: 60px;
        }
        &-text {
            color: rgb(19, 19, 19);
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            gap: 3px;
            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                text-align: left;
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
        &-link {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            text-align: left;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        text-align: left;
        &_mobile {
            display: none;
        }
    }
    &__burger {
        background: transparent;
        padding: 0;
        border: none;
        display: none;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 16px;
        flex-shrink: 0;
    }
}
@media (max-width: 840px) {
    .header {
        padding: 10px 0;
        &__nav {
            display: none;
        }
        &__burger {
            display: flex;
        }
        &__list {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 606px) {
    .header {
        &__phone {
            display: none;
            &_mobile {
                display: flex;
            }
        }
    }
}