.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    max-width: max-content;
    transition: .3s all;
    white-space: nowrap;
    &_center {
        margin: 0 auto;
    }
}
@media (max-width: 375px) {
    .button {
        padding: 24px 40px;
    }
}
@media (hover: hover) {
    .button {
        &:hover {
            background: rgb(233, 233, 233);
        }
    }
}
@media (hover: none) {
    .button {
        &:active {
            background: rgb(233, 233, 233);
        }
    }
}